<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<security name="MaxImageSize">5000</security>
	<security name="MaxMediaSize">100000</security>
	<security name="MaxFlashSize">5000</security>
	<security name="MaxDocumentSize">5000</security>
	<security name="MaxTemplateSize">5000</security>
	<security name="ImageGalleryPath">/callforentries/Uploads</security>
	<security name="MediaGalleryPath">/callforentries/Uploads</security>
	<security name="FlashGalleryPath">/callforentries/Uploads</security>
	<security name="TemplateGalleryPath">/stkildafilm/callforentries/Templates</security>
	<security name="FilesGalleryPath">/callforentries/Uploads</security>
	<security name="AllowUpload">true</security>
	<security name="AllowCreateFolder">true</security>
	<security name="AllowRename">true</security>
	<security name="AllowDelete">true</security>
	<security name="ImageFilters">
		<item>.jpg</item>
		<item>.jpeg</item>
		<item>.gif</item>
		<item>.png</item>
	</security>
	<security name="MediaFilters">
		<item>.avi</item>
		<item>.mpg</item>
		<item>.mpeg</item>
		<item>.mp3</item>
		<item>.wav</item>
		<item>.wmv</item>
	</security>
	<security name="DocumentFilters">
		<item>.txt</item>
		<item>.doc</item>
		<item>.pdf</item>
		<item>.zip</item>
		<item>.rar</item>
		<item>.avi</item>
		<item>.mpg</item>
		<item>.mpeg</item>
		<item>.htm</item>
		<item>.jpg</item>
		<item>.jpeg</item>
		<item>.gif</item>
		<item>.png</item>
		<item>.mp3</item>
		<item>.wav</item>
	</security>
	<security name="TemplateFilters">
		<item>.html</item>
		<item>.htm</item>
	</security>
</configuration>