<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 page-col">
	 <h1 class="page_heading">This is the heading</h1>
     <h2 class="page_subheading">Here is a Subheading</h2>
     <span class="page_text">
        Quia sim aut et utempos rehenditibus con estia qui dus antor sim resequo dipsum quati suntur ab ipiet ut renimet que as ne alitiam eos abor magnisquis plit fugitium int essent eatiam vid ellore voluptat ligeni asperum is voluptatur? Quiae consed quam, odi ulles molo mossit, omnit ma voluptatur, con poriam doluptat et quam rae voluptas con et eum dent is dicaessi omnimostem aut qui unti officaecto optature sunt.
     </span>
     <span class="page_text">
        Incte ex excernam, ut quae. Itameni sitiscia quaestorrume consequi dolendebis et aborro iusam et que is ut prorerum, seculparum rerum voluptassus cor rem qui dolorecabo. Faciet ipsum sapient aruptate evenistium ea volorro rereptatus acerspist est, quaturi consedi vent voluptas dolorunt laboreius arciet exceptatem quam, aute nonsequia accus et, quam qui dolliatur asinullupide es volest, quatus simi, in nonsequiam venit maximusaerum quo ipicid mi, opta autenti ncius, vent quibus, sit volo quodige ndendan daeste nos invenim sunt, quod maio volorum veles is doloren duntio es dellabo ribeate volor reprati strum, ommod et quam deleniam consed qui optatem quametur restrup taspis dollabo. 
     </span>
</div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 page-col col-2">
	<span class="page_text">
       	Second Column
     </span>
	<img alt="" src="../../../../img/image340x440.jpg" />
</div>
