* { margin:0; padding:0; }
body { font-family:Tahoma, Arial, Helvetica, sans-serif; font-size:12px; background:#6BACDE url(../img/admin/bg.png) repeat-x; margin:0px auto; text-align:left; }
img { border:0; }
a { text-decoration:none; color:#296ea4; }
a:hover { text-decoration:underline; }
dl { clear:both; }
dl dt { float:left; }
dl dd { float:right; }
dl.three { line-height:25px; width:350px; }
dl.three dt { width:90px; }
dl.three dd { padding:0 0 0 20px; }
dl.three input.textfield { width:185px; margin:2px 0; }
dl.three dd select { margin:0 0 2px 0; width:193px; }

h1 { padding:15px 25px; color:#022d5e; font-family:"Helvetica Neue","HelveticaNeue-Light","Helvetica Neue Light",Arial,Helvetica,sans-serif; font-weight:300; text-transform:uppercase; }
h3 { padding:0 0 10px 0; text-transform:uppercase; color:#575757; font-family:'Arial Black', Arial; font-weight:bold; font-size:12px; }
hr { border:0; border-bottom:1px dotted #cecece; }
.hidden { display:none; }
.error { color:#ff0000; }
.green { color:#008000; }

#header { width:940px; margin:0 auto; }
#header a { color:#fff; }
#header .logo { width:208px; height:152px; background:url(../img/admin/logo.png); }
#header .bar { width: 401px; height:31px; float:right; color:#fff; }
#header .bar .cr { width:107px; height:31px; background:url(../img/admin/bar-cr-left.png); float:left; }
#header .bar .text { background:url(../img/admin/bg-bar.png); width:274px; padding:0 10px; height:31px; line-height:28px; float:left; text-align:right; }

#pgwrap { margin:0 auto; text-align:left; width:939px; border:1px solid #fff; border-left:0; clear:both; }
#bodier { clear:both; }
#bodier .left { float:left; width:646px; min-height:500px; background:#e8edf2; }
#bodier .bar { color:#fff; font-weight:bold; }
#bodier .bar .text { padding:0 25px; width:400px; height:31px; line-height:28px; float:left; background:url(../img/admin/bg-bar.png); text-transform:uppercase; }
#bodier .bar .cr { width:129px; height:31px; background:url(../img/admin/bar-cr-right.png); float:left; }
#bodier .box { padding:15px 25px; clear:both; color:#575757; }
#bodier .bgw { background:#f5f8fa; }

#bodier .right { float:left; width:293px; }
ul.rightnav { margin:10px; list-style:none; }
ul.rightnav li { padding:0px 0px 2px 20px; background:url(../img/admin/bullet.png) no-repeat; line-height:20px; color:#fff; text-transform:uppercase; }
ul.rightnav li.header { background:none; padding:0 0 5px 0; border-bottom:1px dotted #fff; margin:0 0 5px 0; font-family:"Helvetica Neue","HelveticaNeue-Light","Helvetica Neue Light",Arial,Helvetica,sans-serif;font-weight:600; }
ul.rightnav li a { text-decoration:none; color:#fff; }
ul.rightnav li a:hover { text-decoration:underline; }


#footer { width:940px; margin:0 auto; font-size:11px; color:#fff; padding:5px 0 15px 0; }
#footer a { color:#ddd; }

.pages { float:right; margin:0 10px 10px 0; }

.row-title { height:25px; line-height:25px; border:1px dotted #63A2D4; background:#fff; font-weight:bold; clear:both; }
.row-item { height:40px; line-height:40px; border:1px dotted #63A2D4; border-top:0; clear:both; }
.film-name { float:left; padding:0 10px; }
.film-func { float:right; width:60px; text-align:center; border-left:1px dotted #63A2D4; }
.film-func img { padding:5px 0; }
.film-func a:focus { outline:none; }
.menu-name { float:left; padding:0 10px; }
.menu-func { float:right; width:60px; text-align:center; border-left:1px dotted #63A2D4; }
.menu-func img { padding:5px 0; }
.page-name { float:left; padding:0 10px; }
.page-name input.textfield { width:300px; margin:10px 0 2px 0; }
.page-button { float:left; }
.page-button input.button { margin:4px 0 2px 0; }

.rounded { -moz-border-radius-topleft:5px; -moz-border-radius-topright:5px; -moz-border-radius-bottomleft:5px; -moz-border-radius-bottomright:5px; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius:5px; -webkit-border-bottom-left-radius:5px; -webkit-border-bottom-right-radius:5px; }
input,select,textarea { font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:12px; }
textarea { border:1px solid #b7b7b7; background:#fff; margin:3px 0; padding:3px; }
input.textfield { height:17px; padding:3px 3px 0 3px; border:1px solid #b7b7b7; background:#fff; }
input.button { background:url(../img/admin/bg-button.png); height:22px; line-height:18px; color:#fff; font-weight:300; text-transform:uppercase; padding:0 10px 4px 10px; border:0; font-family:'Arial Black'; }
select option { padding:0 4px; }

dl.film { padding:4px 0; }
dl.film dt { width:140px; }
dl.film dd { float:left; width:450px; }
dl.film dd input.textfield, dl.film dd textarea { width:250px; margin:0; }
dl.film dd select { padding:1px 0 2px 0; margin:0; }
dl.film dd .row { width:150px; float:left; padding:2px 0; }
dl.film dd .row2 { float:left; padding:2px 5px 2px 0; }
dl.film dd .row2 input.textfield { width:35px; text-align:center; }
dl.film dd .row2 a { margin:0 0 0 5px; line-height:20px; }
dl.film dd .row2 select { width:145px; }

dl.film dd .row3 { float:left; padding:2px 5px 0 0; margin:0 0 -2px 0; }
dl.film dd .row3 input.textfield { width:35px; text-align:center; }
dl.film dd .row3 select { width:145px; }

.box-add { float:left; width:300px; }
.box-add dl { padding:4px 0; }
.box-add dl dt input.textfield { width:292px; }
.box-add dl dd input.textfield { width:180px; }
.box-add dl dd select { width:188px; }
.box-edit { float:right; padding:10px; width:250px; background:#fff; border:1px solid #ccc; }

ul.em { list-style:none; }
ul.em li { display:block; padding:3px 10px; background:#e5e5e5; border:1px solid #999; margin:2px 0; }
ul.em ul { list-style:none; margin:3px 0 0 0; }
ul.em ul li { background:#f5f5f5; }
ul.em li.nochild div, ul.em ul li div { float:right; margin-right:-6px; opacity:0; }
ul.em li.nochild:hover div, ul.em ul li:hover div { opacity:1; }
.banner { clear:both; }
.banner .thumb {  }
.banner .url {  height:88px; width:558px; padding:10px 20px; border:1px dotted #666; border-top:none;}
.banner .url p { padding:5px 0; }
.box-news {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    margin: 5px 0;
    padding: 0 10px 0 20px;
}
.box-news .brief {
    float: left;
    width: 420px;
}
.box-news h4 {
    margin: 0;
    padding: 15px 0 0;
}
.box-news p {
    margin: 0;
    padding: 10px 0 5px;
}
.box-news .actions {
    float: right;
}
.box-news .actions img {
    cursor: pointer;
    padding: 20px 5px;
}
dl.news input.textfield {
    width: 250px;
}
dl.news textarea {
    width: 250px;
}
dl {
    clear: both;
}
dl.news dt {
    line-height: 22px;
    width: 120px;
}
dl.news dd {
    float: left;
}

.thumb img
{
	width:600px;
}
